<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Congratulations <%= @user.name %></h1>
    <h2 style="color:<%= @colour %>">
	<%= @phrase %>
	 </h2>
	 <p>	  
	 Task Discription -  <%= @task.text %>
    </p>
    <p>Thanks for using ToDoList and have a great day!</p>
  </body>
</html>